Source: debpakir
Section: admin
Priority: optional
Maintainer: Yurin Doctrine <github.com/YurinDoctrine>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 4.3.0
Homepage: http://github.com/DAFT-8/

Package: debpakir
Architecture: amd64
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         python3-apt
Description: Manage and view .deb packages.
Provides: debpakir
Conflicts: debpakir
Replaces: debpakir
