[Desktop Entry]
Name=debpakir
GenericName=DEBian PacKage InstalleR
Comment=Install and view software packages
Comment[tr]=Yazılım paketlerini kur ve incele
Exec=debpakir %f
Icon=debpakir
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;
StartupNotify=true
Keywords=package;apt;dpkg;install;deb;software;get
