[Desktop Entry]
Name=DEBian PacKage InstalleR
Name[tr]=DEBian PacKage InstalleR
GenericName=Package Installer
GenericName[tr]=Paket Kurucu
Comment=Install and view software packages
Comment[tr]=Yazılım paketlerini kur ve incele
Exec=debpakir %f
Icon=/usr/share/daft-8/debpakir/icon.svg
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;
StartupNotify=true
Keywords=package;apt;dpkg;install;deb;get;software
